.git
.github
.gitignore
.gitattributes
node_modules
vendor
public/build
public/hot
.env
.env.*
!.env.example
storage/*.key
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/app/private
storage/app/livewire-tmp
storage/app/public/*
!storage/app/public/.gitignore
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo
*~
.editorconfig
.styleci.yml
docker-compose.yml
README.md
DOCKER.md
bootstrap/cache/*
!bootstrap/cache/.gitignore
